[Desktop Entry]
Type=Action
Name[en_US]=Hypy (Flow*)
Name[en]=Hypy (Flow*)
Name[C]=Hypy (Flow*)
Icon[en_US]=face-cool-symbolic
Icon[en]=face-cool-symbolic
Icon[C]=face-cool-symbolic
ToolbarLabel[en_US]=Hypy (Flow*)
ToolbarLabel[en]=Hypy (Flow*)
ToolbarLabel[C]=Hypy (Flow*)
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Exec=python /home/stan/repositories/hyst/src/hybridpy/hybridpy/hypy.py flowstar %w.xml %w_flowstar.png -it "eog -n" || read -p 'Press [enter] to exit...'
ExecutionMode=Terminal
Basenames=*.cfg;*.xml;
